* {
  padding: 0;
  margin: 0;
  border: 0;
}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus, :active {
  outline: none;
}
a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a, a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}


/*BackGround*/
.background-1 {
  background: rgb(76, 124, 190);
  background: linear-gradient(142deg, rgba(76, 124, 190, 1) 4%, rgba(243, 245, 199, 1) 91%);
}

/*Head */
header {
  display: flex;
  justify-content: center;
}

.nav-container {
  display: none;
}


.header__content {
  display: inline-flex;
  padding: 36px 0 14px 0;
  width: 100%;
  justify-content: space-between;
  margin: 0 70px;
  border-bottom: solid 1px #ffffff;
  font-weight: 300;

}

.header__icons a {
  padding: 0 1rem;
}

.header__icons a:visited {
  color: white;
}
.header__icons a:hover {
  text-decoration: underline;
}

.header__mobile {
  display: none;
}

.header__language {
  display: inline-flex;
  color: white;
}

.header__switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  margin: 0 5px;

}

.header__switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.header__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: solid 1px white;
  border-radius: 34px;
  -webkit-transition: .4s;
  transition: .4s;
}

.header__slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.header__slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.header__contact a {
  border: solid rgba(255, 106, 22, 1) 2px;
  color: rgba(255, 106, 22, 1);
  border-radius: 34px;
  padding: 3px 15px;
  white-space: nowrap;

}

.header__contact a:hover {
  box-shadow: 2px 0 5px 0 grey;
}







.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

/*Tittle*/
.tittle {
  color: white;
  font-size: 80px;
  width: 100%;
  overflow: hidden;
  padding: 381px 0 0 0;
}
.tittle__text {
  position: relative;
  width: 45%;
}


.tittle__left {
  left: 20rem;
}

.tittle__right {
  left: 45%;
}

.tittle__text .right:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  -moz-border-radius: 9.5px;
  -webkit-border-radius: 9.5px;
  border-radius: 9.5px;
  background-color: orangered;
}


/*banner-2*/
.tittle__two {
  color: white;
  font-size: 80px;
  width: 100%;
  background-color: black;
}

.tittle__two__text {
  position: relative;
}

.text_top {
  border-bottom: solid 1px #ffffff;
  padding-bottom: 2rem;
}

.text_left {
  font-size: 30px;
  line-height: 40px;
  width: 24%;
  left: 5%;
  top: 30px;
}

.text_left a {
  border: solid rgba(0, 102, 255, 1) 1px;
  border-radius: 34px;
  color: rgba(0, 102, 255, 1);
  padding: 0.1rem;
  transition: ease-in-out 0.5s;
}

.text_left a:hover {
  text-decoration: underline;
  padding: 6px;
}


.text_middle {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  width: 10%;
  left: 45%;
  bottom: 80px;
}
.text_right {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  width: 20%;
  left: 70%;
  bottom: 100px;
}

.tittle__two__list {
  text-decoration: none;
  left: 70%;
  padding: 0 0 12rem 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;
}

/*Service*/

.servicebox {
  color: #000000;
  overflow: hidden;
  background-color: #E5E5E5;
  padding: 45px 0;

}

.servicebox__text h2 {
  position: relative;
  font-size: 100px;
  left: 5%;
  top: 90px
}

.servicebox__text h2 span {
  color: rgba(255, 106, 22, 1);
}

.servicebox__text p {
  position: relative;
  width: 40%;
  left: 50%;
  bottom: 100px;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}

/*Services*/

.services {
  display: -webkit-inline-box;
  width: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;

}

.services__box {
  padding: 41px;
  background: rgb(177, 201, 207);
  background: linear-gradient(90deg, rgba(177, 201, 207, 1) 0%, rgba(119, 166, 235, 1) 0%, rgba(201, 168, 217, 1) 38%, rgba(241, 201, 233, 1) 54%, rgba(237, 203, 116, 1) 87%);
  scroll-snap-align: start;
  height: 60vh;
}

.services__head {
  display: inline-flex;
  font-size: 36px;
}
.services__head img {
  margin: 0 0 0 2rem;
  width: 1.5rem;
}
.services__text {
  font-size: 24px;
  padding: 35px 0;
  line-height: 30px;
  width: 50%;
  font-weight: 300;
}

.services__button a {
  border: solid rgba(255, 106, 22, 1) 2px;
  color: rgba(255, 106, 22, 1);
  border-radius: 34px;
  padding: 10px 30px;
  font-size: 16px;

}

.services__button a:hover {
  text-decoration: underline;
}

/*About*/

.about {
  padding-top: 150px;
  color: #000000;
  width: 100%;
  background-color: #E5E5E5;
  position: relative;

}
.about p {
  position: relative;
}

.about p:first-child {
  top: 20px;
  left: 5%;
  font-size: 16px;
  color: rgba(255, 106, 22, 1);

}

.about p:nth-child(2) {
  left: 50%;
  width: 47%;
  font-size: 24px;
  line-height: 24px;
}

.about p:nth-child(3) {
  left: 50%;
  width: 45%;
  top: 20px;
  font-size: 16px;
  line-height: 24px;
}

/*Statistic*/
.mob_about, .mob_stat {
  display: none;
}
.statistic {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  color: #000000;
  width: 100%;
  overflow: hidden;
  background-color: #E5E5E5;
  justify-content: center;

}
.statistic__box {
  position: relative;
}
.statistic__circle {
  left: 5%;
  font-size: 16px;
  color: blue;
  width: 13%;
  padding: 8rem;
  border: solid blue 1px;
  border-radius: 50%;
  position: relative;
}

.statistic__circle p {
  right: 7rem;
  width: 100px;
  font-weight: 500;
}
.statistic__box h2 {
  font-size: 48px;
  font-weight: 400;
  padding-bottom: 10px;
}

.statistic__box p {
  font-size: 16px;
  font-weight: 300;
}

.client {
  left: 50%;
  width: 47%;
  bottom: 190px;

}

.law {
  left: 50%;
  width: 45%;
  bottom: 105px;

}

.year {
  left: 80%;
  width: 47%;
  bottom: 337px;
}

.help {
  left: 80%;
  width: 45%;
  bottom: 253px;
}


/*Princeples*/
.princeples {
  padding: 150px 0;
  color: #FFFFFF;
  background-color: #000000;
  scroll-snap-align: start;
  width:100%;
}

.p_heading {
  position: relative;
  font-size: 100px;
  font-weight: 500;
  left:5%;

}

.princeples p:nth-child(2) {
  position: relative;
  font-size: 24px;
  left: 5%;
  padding: 150px 0 60px 0;
  font-weight: 400;


}

.princeples p:nth-child(3) {
  position: relative;
  left: 5%;
  font-size: 16px;
  width: 35%;
  line-height: 24px;
  font-weight: 400;
}
.princeples .p_heading h2{
  left:5%;
}

.princeples a {
  border: solid rgba(255, 106, 22, 1) 2px;
  color: rgba(255, 106, 22, 1);
  border-radius: 34px;
  padding: 2px 15px;
}

.princeples img {
  width: 1.5rem;
  position: relative;
  left: 40%;
  top: 30px;
  padding: 2px;
}
/*Slides*/
.slides {
  display: -webkit-inline-box;
  width: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  
}
.slides__text {
  background: rgb(91, 123, 170);
  background: linear-gradient(142deg, rgba(91, 123, 170, 1) 0%, rgba(180, 204, 237, 1) 100%);
  transition: ease-out 1s;
  cursor: pointer;
  scroll-snap-align: start;
  width:50%;

}
.slides__text h2:first-child {
  font-size: 48px;
  padding: 100px;
}
.slides__text h2:nth-child(2) {
  font-size: 48px;
  padding: 200px 100px 30px 100px;
}

.slides__text p:nth-child(3) {
  font-size: 16px;
  padding: 0 100px 120px 100px;

}

.slides__text h2:first-child:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  -moz-border-radius: 9.5px;
  -webkit-border-radius: 9.5px;
  border-radius: 9.5px;
  border: 3px solid orangered;
  margin: 0.2rem 1rem 0.2rem 0;
}


/*team*/

.team, .comments {
  padding: 150px 0;
  color: #FFFFFF;
  background-color: #000000;

}

.team__bio {
  position: relative;
  left: 50%;
  bottom: 130px;
  font-size: 36px;
  font-weight: 300;
  padding: 30px 0 30px 0;
}

.team__name {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin: 20px 0;
  padding: 20px 0;
  width: 46%;
  display: inline-flex;
  justify-content: space-between;
}

.team__name img {
  width: 1.5rem;

}

.team__pics {
  width: 630px;
  height: 450px;
}

.team__text {
  position: relative;
  right: 23%;
  bottom: 90px;
  font-size: 16px;
  width: 20%;
}

.team-mobile {
  display: none;
}

.paragraph {
  flex-wrap: wrap;
  padding: 100px 150px 100px 50px;
  color: #000000;
  background-color: #ffffff;
}

.paragraph h2 {
  position: relative;
  font-size: 100px;
  text-align: center;
  font-weight: 500;
}


.paragraph h2 :nth-child(1) {
  background-image: linear-gradient(142deg, rgba(237, 113, 3, 1) 0%, rgba(27, 96, 190, 1) 100%);
  -webkit-background-clip: text;
  color: transparent;
}
.paragraph h2 :nth-child(3) {
  background-image: linear-gradient(90deg, rgba(177, 201, 207, 1) 0%, rgba(119, 166, 235, 1) 0%, rgba(201, 168, 217, 1) 38%, rgba(241, 201, 233, 1) 54%, rgba(237, 203, 116, 1) 87%);
  -webkit-background-clip: text;
  color: transparent;
}
/*Comments*/

.comments {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.comments__box, .comments .p_heading {
  flex-basis: 45%;
}

.comments__coment {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-weight: 300;
  padding: 30px 0 30px 0;
  border-bottom: solid 1px white;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}


.comments__col {
  display: flex;
  flex-direction: column;
}


.comments__coment:hover {
  padding: 40px 0 40px 0;
}


.comments__name {
  display: flex;
  font-size: 30px;
  justify-content: space-between;
  width: 100%;
}

.comments__loc, .comments__media {
  padding: 10px 0 5px 0;
  opacity: 0.7;
}

.comments__desc {
  display: inline-flex;
  justify-content: space-between;
  flex-basis: 45%;
}
.comments__desc img {
  width: 1.5rem;
  position: relative;
  bottom: 40px;
  margin: 10px;

}
.comments__col {
  flex-basis: 40%;
}

.comments__pic {
  flex-basis: 15%;
}
.comments__pic {
  width: 80px;
  height: 120px;
}






footer {
  display: flex;
  color: #000000;
  font-size: 80px;
  width: 100%;
  overflow: hidden;
  background: rgb(76, 124, 190);
  background: linear-gradient(142deg, rgba(76, 124, 190, 1) 4%, rgba(243, 245, 199, 1) 91%);
  justify-content: center;
  flex-direction: column;
  padding: 45px 0;
}

.footer__head {
  display: inline-flex;
  padding: 170px 77px;
}

.footer__text {
  display: flex;
  font-size: 120px;
  width: 60%;
  font-weight: 400;
  flex-basis: 65%;
  flex-direction: row;
}

.footer__text img {
  position: relative;
  right: 200px;
  width: 7rem;
}

.footer__bigcircle {
  display: block;
 
}

.footer__bigcircle h3{
  font-size: 36px;
  color: #FFFFFF;
  background: orange;
    border-radius: 50%;
    padding: 250px 150px !important;
}


.footer__main {
  display: inline-flex;
  justify-content: space-around;
  border-top: solid 1px white;
  margin: 0 50px;
  font-size: 36px;
  padding: 50px 78px;
  color: #ffffff;
}

.footer__block1 {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  align-content: center;
  width: 100%;
  justify-content: center;
  flex-basis: 40%;
  font-weight: 400;
  font-size: 36px;

}
.footer__block1 p {
  padding: 20px 0 20px 0;
}

.footer__block2 {
  display: inline-flex;
  flex-basis: 60%;
  font-weight: 500;
  font-size: 120px;
  justify-content: space-evenly;

}

.footer__circle {
  border-radius: 50%;
  background-color: rgba(255, 106, 22, 1);
  flex-basis: 30%;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
}

.block-2 h3:nth-child(3) {
  background-color: blue;
}


.block p:first-child {
  padding-bottom: 50px;
}

.creator{
  position: relative;
  top: 250px;
  font-size: 16px;
}


.footer__block2 a:visited {
  color: #000000;
}

.footer-mobile{
  display: none;
}
/*Mobile Version 1.0*/
@media screen and (max-width: 720px) {
  @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

  
  
  .container {
    max-width: 1050px;
    width: 90%;
    margin: auto;
  }
  
  .navbar {
    width: 100%;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
  }
  
  .navbar .menu-items {
    display: flex;
  }
  
  .navbar .nav-container li {
    list-style: none;
  }
  
  .navbar .nav-container a {
    text-decoration: none;
    color: black;
    padding: 3px 15px;
    font-size: 14px;
    line-height: 18px;
    ;

    padding: 0.7rem;
  }
  
  .navbar .nav-container a:hover{
      font-weight: bolder;
  }
  
  .nav-container {
    display: block;
    position: relative;
    height: 60px;
  }
  
  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  
  .nav-container .hamburger-lines {
    display: block;
    height: 22px;
    width: 28px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #ffffff;
  }
  
  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  .navbar .menu-items {
    padding-top: 120px;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
  }
  
  .navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  .contact-mob {
    position: absolute;
    top: 15px;
    right: 15px;
    border: solid rgba(255, 106, 22, 1) 2px;
    border-radius: 34px;
    padding: 3px 15px;
  }

  .contact-mob a{
    color:rgba(255, 106, 22, 1)!important;
    font-weight: 400;
  }
  
  .nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .logo{
    display: none;
  }

 
  .header__content {
    display: none;
  }

 

  .content, .tittle__left, .tittle__right,
  .text_left, .text_middle, .text_right,
  .tittle__two__list, .tittle__two ul, .servicebox__text h2,
  .servicebox__text p, .services__box, .services__head, .services__text, .services__button, .statistic_mobile__box,
  .mob_about p, .mob_stat, .mob_stat__text, .mob_stat__main, .mob_stat__box, .p_heading h2, .princeples h2:first-child, .princeples p:nth-child(2), .princeples p:nth-child(3),.comments__media {
      position: unset;
      width: 100%;
  }



  .tittle {
      padding: 200px 0 0 0;

  }

  .tittle .tittle__left, .tittle__right, .text_top, .servicebox__text h2, .princeples h2:first-child {
      font-size: 36px;
  }

  .tittle__two__text .text_left, .tittle__two__list, .banner-3 p:nth-child(2), .princeples p:nth-child(2) {
      font-size: 18px;
  }

  .tittle__two__text .text_middle, .service-box a {
      font-size: 16px;
  }

  .tittle__two .text_right, .text_top,.tittle__left, .tittle__right {
      padding: 0  10px;
  }

  .text_left {
      width: 100%;
      padding: 20px;
      line-height: 150%;
      padding: 60px 0 40px 10px;
  }
  .text_middle {

      font-weight: 500;
      padding: 40px 0 10px 10px;
  }
  .text_right {
      font-weight: 300;
      font-size: 14px;
      line-height: 150%;
      padding: 10px 0 30px 10px;
      opacity: 0.8;
  }

  .tittle__two__list {
      font-weight: 400;
      line-height: 30px;
      padding: 2rem 10rem;
  }




  .servicebox__text h2, .servicebox__text p {
      font-weight: 500;
      line-height: 110%;
  }
  .servicebox__text h2 {
      padding: 10px;
  }
  .servicebox__text p {
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      padding: 10px;
  }

  .services {
      display: -webkit-inline-box;
      width: 100%;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;

  }
  .services__box {
      padding: 12% 2%;
      scroll-snap-align: start;
      height: auto;
  }
  .services__head {
      content: "";
      font-weight: 300;
      font-size: 16px;
      line-height: 150%;
      font-size: 24px;
      color: white;
      padding: 3% 0 0 0;
  }

  .services__head h2 {
      display: flex;
      flex-direction: column;
      flex: 0 0 80%;
  }


  .imigration h2:before {
      content: "(01)";
  }
  .business h2:before {
      content: "(02)";
  }
  .legal h2:before {
      content: "(03)";
  }

  .services__head img {
      margin: 5%;
  }


  .services__text p {
      color: white;
      font-size: 16px;
      padding: 10% 0;
      line-height: 21px;
      opacity: 0.7;
  }
  .services__button{
    margin-bottom: 40px
  }
  .services__button a {
      white-space: nowrap;

  }

  .mob_about {
      display: flex;
      flex-direction: column;
      padding-top: 80px;
      color: #000000;
      width: 100%;
      background-color: #E5E5E5;
      justify-content: center;
  }

  .mob_about p:first-child {
      color: rgba(255, 106, 22, 1);
      font-weight: 500;
      font-size: 36px;
      line-height: 150%;
      border-bottom: solid grey 1px;
      padding: 1rem 0.5rem;

  }


  .mob_about p:nth-child(2) {
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      padding: 2rem 0.5rem;
      border-bottom: solid grey 1px;
  }
  .mob_about p:nth-child(3) {
      color: rgba(13, 33, 161, 1);
      width: 3rem;
      height: 1rem;
      padding: 4rem;
      border: solid rgba(13, 33, 161, 1) 1px;
      border-radius: 50%;
      margin: 1rem 0 1rem 1rem;
  }
  .mob_stat {
      display: flex;
      flex-direction: column;
      padding-top: 1rem;
      color: #000000;
      overflow: hidden;
      background-color: #E5E5E5;
      justify-content: center;
  }

  .mob_stat__text {
      font-weight: 300;
      font-size: 14px;
      line-height: 150%;
      opacity: 0.8;
      padding: 0.5rem;
  }

  .mob_stat__main {
      display: grid;
      grid-template-areas: "clients law"
          "year    help";
      padding: 2rem 0 6rem 0.5rem;
  }


  .mob_stat__box h2 {
      font-size: 48px;
      font-weight: 350;
      line-height: 150%;
  }

  .mob_stat__box p {
      font-size: 16px;
      font-weight: 300;
      font-size: 12px;
      line-height: 150%;
  }

  .statistic, .about {
      display: none;
  }

  .princeples {
      padding: 4rem 0;
      scroll-snap-align: start;
      border-bottom: solid 1px white;
  }
  .princeples .p_heading h2 {
      border-top: solid 2px rgba(255, 106, 22, 1);
      padding: 2rem 0.5rem;
      width: 60%;
      margin: 0 0.5rem;
      padding: 1rem 0;
  }

  .princeples p:nth-child(2) {
      padding: 2rem 0.5rem;
  }
  .princeples p:nth-child(3) {
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      opacity: 0.8;
      padding: 0.5rem;
  }
  .slides {
      display: -webkit-inline-box;
      width: 100%;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
  }

  .slides__text {
      background: rgb(91, 123, 170);
      background: linear-gradient(142deg, rgba(91, 123, 170, 1) 0%, rgba(180, 204, 237, 1) 100%);
      width: 100%;
      cursor: pointer;
      scroll-snap-align: start;
      color: #FFFFFF;
  }

  .slides__text h2:first-child {
      padding: 4rem 0 2rem 0.5rem;
      font-weight: 300;
      font-size: 36px;
      line-height: 47px;
  }

  .slides__text h2:nth-child(2) {
      padding: 2rem 0.5rem;
      font-weight: 500;
      font-size: 36px;
      line-height: 150%;
  }

  .slides__text p:nth-child(3) {
      font-size: 16px;
      font-weight: 300;
      font-size: 14px;
      line-height: 150%;
      padding: 2rem 0 4rem 0.5rem;
  }

  
  .desktop-team {
      display: none;
  }

  .p_heading{
    left:0;
  }
  .team-mobile {
      display: flex;
      flex-direction: column;
      background-color: #000000;
      color: #FFFFFF;
      padding: 1rem 0 0 0.5rem;
      line-height: 150%;
  }

  .team-mobile__heading {
      font-size: 48px;
      padding: 70px 0;

  }

  .arrows {
      text-align: right;
      padding: 0 1rem 0 0;
  }

  .team-mobile__name p {
      font-weight: 300;
      font-size: 12px;
      opacity: 0.5;

  }
  .team-mobile__bio {
      display: -webkit-inline-box;
      width: 100%;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
      font-size: 16px;
      padding-bottom: 70px;
      ;
  }

  .bio-block{
    width: 100%;
  }
  .team-mobile__block {
      scroll-snap-align: start;
  }

  .team-mobile__block li {
      opacity: 0.5;
  }

  .team-mobile__block li:before {
      content: "-";
      margin: 0 2px 0 0;
  }

  .block-team:first-child {
      width: 66%;
  }



  .block-team {
      margin: 1rem 0 1rem 0;
      font-weight: 300;
      line-height: 150%;
  }
  .block-team h3 {
      text-transform: uppercase;
      font-size: 14px;
  }


  .paragraph {
      padding: 6rem 0.5rem;
  }

  .paragraph h2 {
      font-weight: 500;
      font-size: 30px;
      line-height: 130%;
  }



  .comments {
      display: block;
      padding: 2rem 0 1rem 0.5rem;
      font-size: 14px;
  }

  .comments__name {
      width: 95%;
  }

  .comments__name img {
      width: 1.6rem;
      padding: 5px;
  }

  .comments .p_heading {
      font-size: 48px;
  }

  .comments__desc {
      font-size: 14px;
      padding: 40px 10px 15px 10px;
      flex: 0 0 40%;
      flex: 0 0 100%;
  }

  .comments__desc img {
      width: 1rem;
      position: unset;
  }
  .comments__col {
      flex: 0 0 70%;
  }

  .comments__media, .comments__loc {
      position: relative;
      
  }
  .comments__coment {
      flex-wrap: wrap;
  }
  footer {
      padding: 20px 0 0 5px;
  }
  .footer__block1, .footer__block2, .footer__head {
      display: none;

  }

  .footer__main {
      display: flex;
      flex-direction: column;
      font-size: 48px;
      margin: 0 20px;
      padding: 10px;
      align-items: center;
  }
  .footer-mobile {
    display: block;
      border-bottom: solid 1px;
      padding: 10px;
  }

 .footer-mobile a:visited {
  color: #000000;
}

 .footer-mobile a:active {
color:orangered;
}
.creator {
  font-size: 12px;
  color: black;
  margin-top: 80px;
  text-align: center;
}
}

/*Tablets Version 1.0*/
@media screen and (max-width: 1040px){
.tittle__left, .tittle__right{
position: unset;
 width:100%;
 padding: 0 0 0 20px;
}

.tittle__two__text:first-child{
  padding:0 0 20px 20px;
}

.services__box{
  font-size:60px;
  padding: 20px;
}
.services__text{
  padding:40px 0 0 0;
  width:100%;
  line-height: 30px;
}

.servicebox__text p {
  left: 55%;
}


.comments {
  display: block;
  padding: 2rem 0 1rem 0.5rem;
  font-size: 14px;
}

.comments__coment {
  padding: 30px 30px 30px 0;
}

.footer__main{
  display: flex;
  flex-direction: column;
}

.footer__block1 {
  padding-bottom: 30px;;
}

}
